body {
    font-family: 'Crimson Text Serif';
}
h1, h2, h3 {
    font-family: 'Hind Guntur Sans';
    font-weight: 400;
    line-height: 0.8em;
    margin-bottom: 0;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.remark-slide-content { background-size: cover; }
.footnote {
    position: absolute;
    bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.gold { color: #ffd700; }
.deeppink { color:#ff1493; }
.hotpink { color: #ff69b4; }
.white { color: #f3f3f3; }
.large { font-size: 2em; }
a, a > code {
    color: #f92672;
    text-decoration: none;
}
img {
    max-width: 800px;
    max-height: 600px;
}
.img-50 img {
  width: 50%;
}

code {
    background: #e7e8e2;
    border-radius: 5px;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }
.remark-code, .remark-inline-code { font-family: 'Cutive Mono'; }
.remark-code-line-highlighted     { background-color: #f92672; }
.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ p {
    clear: both;
}
#slideshow .slide .content code {
    font-size: 0.8em;
}
#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}
.inverse {
    background: #272822;
    color: #f3f3f3;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}
#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}
#slide-how .slides {
    font-size: 0.9em;
    position: absolute;
    top:  151px;
    right: 140px;
}
#slide-how .slides h3 {
    margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}
#slide-how .slides .second {
    position: relative;
    background: #fff;
    z-index: 0;
}
 /* Two-column layout */
.left-column {
    color: #777;
    width: 20%;
    height: 92%;
    float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
      color: #000;
    }
.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}
.tab{width:40px;}

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
